body {
    font-family: arial,sans-serif;
    background: #0cca9b;
    margin: 0;
    padding: 30px;
}

.contenido {
    max-width: 900px;
    margin: auto;
    background: rgb(88, 206, 214);
    padding: 30px;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.tablero {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    cursor: pointer;
}

button :disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

#Continuar {
    margin-top: 20px;
    font-weight: bold;
}

#Detener {
    margin: 15px 0;
}

.empezar {
    border: 1px solid #0a8d96;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;

}
